/* google font  */
@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Poppins:wght@400;500;600&display=swap');
body {
    font-family: 'Oswald', sans-serif;
    /* font-family: 'Poppins', sans-serif; */
}
.img-size {
    width: 100px;
    height: 50px;
   
}
.bg-color {
    background-color:#231054;
}
.imges{
    height: 550px;
}

.bg-img {
    background-color: rgb(14, 14, 66);
}
.bg-imge {
    background-color: rgb(177, 188, 192);
}
.bg-imges {
    background-color: rgb(150, 53, 240);
}